body{
    margin: 0;
    padding: 0;
   }

.separador {
    margin: -5% auto 5% auto;
    display: block;
}
.prueba{
    background: rgba(41, 90, 199, 0.81);
    padding: 2% 0;
    color: white;
    text-align: center;
}

.prueba .boton{
    border: 1px solid white;
    }
.prueba .boton a{
    text-decoration: none;
    color: white;
}
/*--- fin de generales ------------------------------------- */

header .container-fluid{
    background: url(../image/large.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    }

header .row{
    background: rgba(0, 0, 0, 0.4);
    padding-top: 2%;  
    
    }

nav{
    display: inline;
    }

.titulo{
  margin: 10% 25%;  
}



/*  ---------fin de header------------------------------  */

.servicios {
    text-align: center;
    color: rgb(130, 202, 232);
     }

.icon-container {
    box-shadow: -2px 2px 10px rgba(101, 87, 87, 0.27);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    line-height: 150px;
    font-size: 60px;
    color: rgb(130, 202, 232);
    }
.servicios h4, .servicios p{
    padding: 5% 10%;
    color: rgb(52, 115, 190);
    }
.servicios p{
    margin-bottom: 25%;
}

/* --- fin servicios ------------------------------------*/

.ejemplo {
    border-top: 1px solid #c6bfbf;
    margin-bottom: 5%;
}

.ejemplo h2, .logo {
    display: inline-block;
    }

.ejemplo .flecha {
    text-align: center;
  }

/* --- fin de ejemplo ---------------*/


.pasos{
    padding-bottom: 5%;
  }

.pasos h3{
    margin-top: 0;
    text-align: center;
}
.pasos h4{
   color: #77afff;  
}
.pasos h4, .pasos p{
    margin-left: 5%;
    font-size: 15px;
}
.pasos li{
    margin: 2% ;
}
.paso1, .paso2, .paso3{
    margin: 5% 0;
}

.icon-ctn{
    width: 50px;
    height: 50px;
    background-color:rgb(80, 189, 234);
    color: #ffffff;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    position: absolute;
    left: -4%;
}

/* --- fin pasos ------------------------------------------*/

.usos h2, .logo {
    display: inline-block;
     }

.usos h2{
   color: #77afff;
    text-align: center;
   }
.usos ul{
    margin: 4%;
}
.usos li{
    padding: 0.5%;
    }

/* --- usos --------------- */

footer{
    background: #2a3541;
    color: #fff;
    padding: 2% 0; 
}
.social{
 text-align: right  
}
.icon-s{
    display: inline-block;
    font-size:20px;
    color: #74a3db;
    }
/* ---- fin footer ----------*/

.contacto{
    background: url(../image/large.jpg);
    background-size: cover;
    height: 700px;
    }
.formulario{
    background-color: white;
    width: 50%;
    padding: 0 4%;
    position: absolute;
    top: 15%;
    left: 25%;
    border-top: 5px solid rgb(116, 163, 219);
        }
.formulario h3{
    border-bottom: 2px solid rgb(204, 204, 204);
}
.formulario button{
    background-color: #74a3db;
    color: #fff;
}
.input-email{
    margin: 5% 0;
}

