@media screen and (max-width:1000px){
    .free{text-align: center;}
    .but button{margin: 0 30%;}
    .icon-cn{margin-left: 4%;}
    .pasos1{margin-left: 3.5%;}
    .navbar-header button{;background-color: #74a3db;}
    .banner2{text-align: center;}
    .butt2{margin: 0 31%;} 
}
